@import "tailwindcss";

@theme {
  --color-primary: #fdf6fd;
  --color-secondary: #892cdc;
  --color-dark: #222831;
  --color-dark-light: #454e59;
}

@layer base {
  /* Hide spinners for Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide spinners for Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
